@import '../../../resources/modules/core/common/css/_mixins.scss';

.cat__core {
  &__steps-inline {
    display: inline-block;
    &:before, &:after {
      content: " ";
      display: table;
    }
    .cat__core__step {
      float: left;
      height: rem(22);
      border: none;
      border-left-width: rem(0);
      background: $gray-lighten;
      line-height: rem(25);
      color: $default;
      text-align: center;
      border-radius: rem(0);
      padding: 0 rem(15);
      &:first-child {
        border-right-width: 1px;
        border-radius: 100px 0 0 100px;
        padding-left: rem(18);
      }
      &:last-child {
        border-left-width: 0;
        border-radius: 0 100px 100px 0;
        padding-right: rem(18);
      }
      &--active {
        background: $primary;
        color: $white;
      }
    }
  }
}