@import '../../../resources/modules/core/common/css/_mixins.scss';

.cat__core__widget {
  border: 0px solid $white;
  background: $white;
  position: relative;
  border-radius: .25rem;
  margin-bottom: 1.35rem;

  &--border {
    border: 1px solid $gray-border;
  }

  &__3 {
    &__body {
      display: block;
      height: rem(140);
      position: relative;
      width: 100%;
      padding: rem(25) rem(30);
      overflow: hidden;

      h2 {
        color: $white;
      }
    }
    &__icon {
      display: inline-block;
      font-size: rem(80);
      position: absolute;
      z-index: 1;
      bottom: rem(-40);
      right: rem(-25);
      opacity: .4;
    }
  }
}