@import '../../../resources/modules/core/common/css/_mixins.scss';

.cart {
  &__step-icon {
    width: rem(45);
    height: rem(45);
    border: 3px solid #0190fe;
    border-radius: 50%;
    position: relative;

    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}