// Import mixins from "core" module
@import '../../../core/common/css/mixins';

/////////////////////////////////////////////////////////////////////////////////////////
/*  WIDGETS */

.rfq {
  &__widget {

    &__gray-block {
      background: $gray-lighten-more;
      border: 1px solid $gray-border;
      padding: rem(40) rem(20) rem(30);
      border-radius: 10px;
      max-width: rem(1200);
      margin: 0 auto;
    }

    &__additionalSummary {
      margin-left: rem(240);
      padding: rem(20) rem(17);
      display: none;

      .card-block {
        margin-left: 0;
      }

      .cat__apps__profile__card {
        margin: -16px;
        padding: rem(20) rem(15);
      }

      @media (max-width: 1500px) {
        margin-left: 0;
        display: block;
      }
    }

    &__account-summary {
      position: absolute;
      top: 0;
      right: 0;
      width: rem(350);
      height: 100%;
      border-left: 1px solid $gray-border;

      @media (max-width: 1500px) {
        position: static;
        margin-bottom: 0;
        width: auto;
        overflow: visible;
        height: auto;
        border: none;
        display: none;
      }

      .cat__apps__profile__card {
        margin: rem(15);
        .card-block {
          margin: 0;
          padding-left: 0;
          padding-right: 0;
        }
      }

      @at-root {
        .rfq__core__card-with-account-summary {
          position: relative;
          padding-right: rem(350);
          min-height: rem(1300);

          &--profile {
            min-height: rem(800);
          }

          &__content {
            padding-top: rem(40);
          }

          @media (max-width: 1500px) {
            padding-right: 0;

            &:before {
              display: none;
            }

            .cat__core__avatar {
              float: left;
            }

            &__content {
              margin-left: rem(150);
              text-align: left;
              padding-top: 0;
              //min-height: rem(400);
            }
          }

          @media (max-width: 1700px) {
            .cat__pricing-table {
              display: block;
              padding: 0;
              .cat__pricing-table__item {
                margin-bottom: rem(20) !important;
                border: 1px solid $gray-border;
                border-radius: 6px !important;
                &--featured {
                  margin-top: 0;
                }
              }
            }
          }

          @media (max-width: 1500px) {
            .cat__core__card-sidebar {
              position: static;
              margin-bottom: 0;
              width: auto;
              overflow: auto;
              height: auto;
              border: none;
            }

            .card-header, .card-block {
              margin-left: 0 !important;
            }

          }

        }

      }

      &__stories {
        min-height: rem(600);
        margin: 0 rem(15) rem(10);
      }
    }

    &__stamps-item {
      padding: rem(20);
      border-radius: 5px;
      border: 1px solid $gray-border;
      max-width: rem(360);
      margin-right: rem(20);
      margin-bottom: rem(20);
      float: left;
    }

    &__plastic-card {
      max-width: rem(500);
      height: rem(280);
      background: $gray-lighten-more;
      border-radius: 10px;
      padding: rem(40) rem(60) rem(55);

      @media (max-width: $md-max-width) {
        padding: rem(50);
      }

      &__outer {
        display: block;
        width: 100%;
        padding-bottom: rem(70);
      }

      &__number {
      }

      &__title {
        @media (max-width: $md-max-width) {
          left: rem(50);
        }
      }

      &__expires {
        @media (max-width: $md-max-width) {
          right: rem(100);
        }
      }

      small {
        display: block;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: rem(10);
        font-weight: bold;
      }

    }

    &__pricing-table {
      padding: 0 rem(50);

      @media(max-width: $md-max-width) {
        padding: 0;
      }
    }

    &__calendar {

      &--hidden {
        opacity: 0;
        height: 1px;
      }

      @media(max-width: 1500px) {
        opacity: 0;
        height: 1px;

        &--hidden {
          opacity: 1;
          height: auto;
        }
      }
    }

    &__product-image {
      position: relative;
      height: rem(350);
      max-width: rem(500);
      background: $gray-lighten;
      border: 1px solid $gray-border;
      margin-bottom: rem(20);
      overflow: hidden;
      border-radius: 4px;

      &:after {
        content: 'No Image';
        position: absolute;
        z-index: 1;
        top: 50%;
        display: block;
        margin-top: rem(-7);
        width: 100%;
        text-align: center;
        color: $gray-darken;
      }

      &__container {
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        display: none;
        background: $gray-lighten;
      }
    }

    &__count {
      overflow: hidden;
      display: inline-block;
      width: rem(240);
      margin-left: rem(10);
      margin-right: rem(10);

      @media (max-width: $md-max-width) {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
      }

      &:hover {
        background: $gray-lighten-more;

        .rfq__widget__count__controls {
          transform: translate3d(0, 0, 0);
        }

        .ant-spin-blur:after {
          background: $gray-lighten-more;
        }
      }

      &__controls {
        transition: transform .2s ease-in-out;
        transform: translate3d(0, 100px, 0);
      }

      &__outer {
        margin: 0 rem(-10);
      }
    }

    &__topbar-messages {
      &__count {
        background: $success;
        border-radius: rem(10);
        color: $white;
        position: absolute;
        top: rem(-13);
        right: rem(-3);
        font-size: rem(11);
        padding: rem(1) rem(4) 0 rem(3);
        min-width: rem(18);
        text-align: center;
        display: block;
      }
    }

    &__updated {
      height: rem(50);
      &:empty {
        height: rem(30);
      }
    }

    &__system-status {
      cursor: default;
      background: $white !important;
      &__item {
        padding: rem(5) 0;
      }
    }

    &__avatar-uploader {
      display: block;
      border: 1px dashed #d9d9d9;
      background: $white;
      border-radius: 6px;
      cursor: pointer;
      width: 150px;
      height: 150px;
      margin-top: rem(10);
      margin-bottom: rem(-20);

      &__plus {
        display: table-cell;
        vertical-align: middle;
        font-size: 28px;
        color: #999;
        width: 150px;
        height: 150px;
      }
    }
  }

  &__customer {
    &__title {
      border-bottom: 3px solid $black;
      padding-bottom: rem(10);
      margin-bottom: 0;
    }
    &__controls {
      margin: rem(15) 0;
    }
    &__quotes {
      margin-bottom: rem(20);
    }
    &__quote {
      border-bottom: 3px solid $gray-border;

      .table {
        margin-bottom: 0;
        &:last-child {
          margin-bottom: rem(15);
        }
        th {
          border-top: none;
        }
      }
    }
  }
}